html{
    scroll-behavior: smooth;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212121;
    color: #00C853;
    font-family: cursive;
    border: 5px solid #00C853;
    border-radius: 2rem;
    padding: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    
}
h1{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 5px 4px gray;
    margin-top: -3rem;
    
}
p{
    font-size: 1.4rem;
    margin-top: -0.5rem;
    align-self: flex-start;
}
a{
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
    background-color: #0cd861;
    padding: 2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}a:hover{
    background-color: gray;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
ul{
    display: flex;
    gap: 1rem;
    position: relative;
    top: -4rem;
    margin-top: 2rem;
    background-color: #00C853;
    padding: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    

}
li{
    background-color: #00C853;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    list-style-type: none;
    cursor: pointer;
    opacity: 0.8;
    font-weight: 900;
    font-size: 1.5rem;
}
li:hover{
    opacity: 1;
}
div{
    align-self: flex-start;
    background-color: #C8E6C9;
    color: rgb(8, 8, 8);
    font-weight: 900;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    display: none;
    position: relative;
    padding-top: 5rem;
}
h2{
    margin-top: 3rem;
    display: none;
}
#link-wrraper::after{
    content: "MAIN LINKS";
    font-size: 1.5rem;
    width: 10rem;
    margin: 0 auto;
    color: black;
    font-weight: 900;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;

}
#links-wrraper{
    width: 97rem;
    overflow: auto;
}
#links-wrraper::after{
    content: "ALL LINKS";
    font-size: 1.5rem;
    width: 10rem;
    margin: 0 auto;
    color: black;
    font-weight: 900;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
}
#subs-wrraper::after{
    content: "Subdomains";
    font-size: 1.5rem;
    width: 10rem;
    margin: 0 auto;
    color: black;
    font-weight: 900;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;

}
#step3-wrraper::after{
    content: "TITLES&STATUS";
    font-size: 1.5rem;
    width: 10rem;
    margin: 0 auto;
    color: black;
    font-weight: 900;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;

}
#ips-wrraper::after{
    content: "IP";
    font-size: 1.5rem;
    width: 10rem;
    margin: 0 auto;
    color: black;
    font-weight: 900;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
}
#ports-wrraper::after{
    content: "PORTS";
    font-size: 1.5rem;
    width: 10rem;
    margin: 0 auto;
    color: black;
    font-weight: 900;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;

}
#regex-wrraper::after{
    content: "EMAILS$PHONE";
    font-size: 1.5rem;
    width: 10rem;
    margin: 0 auto;
    color: black;
    font-weight: 900;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;

}
#whois-wrraper::after{
    content: "INFORMATION";
    font-size: 1.5rem;
    width: 10rem;
    margin: 0 auto;
    color: black;
    font-weight: 900;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;

}
#wapp_wrraper{
    content: "Technoligies";
    font-size: 1.5rem;
    width: 10rem;
    margin: 0 auto;
    color: black;
    font-weight: 900;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
}
#go_up{
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
}
#time_wrraper{ 
    display: block; 
    padding: 1rem; 
    top: 10rem;
    align-self: center; 
    border-radius: 0.6rem; 
    -webkit-border-radius: 0.6rem; 
    -moz-border-radius: 0.6rem; 
    -ms-border-radius: 0.6rem; 
    -o-border-radius: 0.6rem; 
    background-color: #00C853; 
    font-weight: bold; 
    color: black; 
    font-size: 1.5rem; 
    animation-name: colors; 
    animation-duration: 4s; 
    animation-iteration-count: infinite; 
} 
 
@keyframes colors { 
    0%   {background-color:red; left:0px; top:0px;} 
    25%  {background-color:yellow; left:-50px; top:0px;} 
    50%  {background-color:blue; left:50px; top:0px;} 
    75%  {background-color:green; left:-50px; top:0px;} 
    100% {background-color:red; left:0px; top:0px;} 
}